<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Контакты</h3>
                <p>Адрес: ул. Плахотного, 10, Новосибирск, Новосибирская обл., 630108</p>
                <p>Телефон: 8 (383) 343-39-37</p>
                <p>E-mail: info@example.com</p>
            </div>
            <div class="col-md-6">
                <h3>О нас</h3>
                <p>Наш сайт предоставляет информацию о хакатонах, проводимых в России и в других странах мира.</p>
            </div>
        </div>
    </div>
</footer>
