<%- include('components/header') %>
<title>О нас</title>
<body>
<div class="container">

<h1>О нас</h1>
  <div class="about">
    <div class="left">
        <div class="title">
            <p>
                Мы команда разработчиков, занимающаяся созданием инновационного веб-ресурса для проведения IT-хакатона.
                Наш проект объединяет участников, специалистов и энтузиастов IT-сферы, предоставляя им возможность проявить свой творческий потенциал и найти новые решения для сложных технических задач.
            </p>
        </div>
        <p>
            Наша цель - создать уникальную платформу, которая позволит организовывать и проводить IT-хакатоны различных масштабов и направлений.
            Мы стремимся предоставить участникам максимально комфортное и стимулирующее окружение для их творческого процесса.
        </p>
    </div>


    <div class="right">
        <p>
        Наша команда состоит из опытных разработчиков, дизайнеров и специалистов по веб-технологиям. Мы уделяем особое внимание качеству и инновациям,
        чтобы обеспечить участникам IT-хакатона лучший опыт и результаты.
        </p>
        <p>
        Присоединяйтесь к нам и станьте частью нашего сообщества, чтобы вместе с нами открывать новые горизонты в разработке программного обеспечения и IT-технологиях!
        </p>
    </div>
  </div>
</div>
</body>
<%- include('components/footer') %>
