<%- include('components/header') %>
<title>Контакты</title>
<div class="container">
<div class="contact-container">
    <h1>Контакты</h1>
    <div class="contact-item">
        <span class="contact-label">Email:</span>
        <span class="contact-value">deniszev68@gmai.com</span>
    </div>
    <div class="contact-item">
        <span class="contact-label">Телефон:</span>
        <span class="contact-value">8 (383) 343-39-37</span>
    </div>
    <div class="contact-item">
        <span class="contact-label">Ссылки:</span>
        <span class="contact-value"><a href="https://vk.com/dessazev">Вконтакте</a> </span>
        <span class="contact-value"><a href="https://github.com/DenisZev/testReg">GitHub</a> </span>

    </div>
    <div class="contact-item">
        <span class="contact-label">Адрес:</span>
        <span class="contact-value">ул. Плахотного, 10, Новосибирск, Новосибирская обл., 630108</span>
    </div>
</div>
</div>
<%- include('components/footer') %>
