<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/homeStyle.css">
    <link rel="stylesheet" href="../css/carousel.css">

</head>
<%- include('components/header') %>

<body>




<div class="block welcome">
    <h1>Раскройте свой потенциал, измените будущее</h1>

    <p>Создавайте продукты, практикуйте навыки, изучайте технологии, выигрывайте призы и расширяйте свою сеть.</p>
    <% if (typeof user !== 'undefined' && user) { %>
        <a href="/hackathons">Выберите хакатон</a>
    <% } else { %>
        <a href="/register">Присоединяйтесь</a>
    <% } %>

</div>
<div id="foto">
    <main>
        <img name="slider" width="800" height="400">
    </main>

    <script>



    </script>

</div>
<div class="block description">
<h1>Выбери свой хакатон</h1>
    <%- include('components/hackathonlist') %>

</div>


</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript" src="../script_carousel.js"></script>
<%- include('components/footer') %>
</html>
